@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* SETUP */
:root {
    /* Color Styles */
    --primary: red;
    --primary-dark: darkred;
    --primary-light: #FE5045;

    /*Font Size Desktop */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 20px;
    --text-regular: 16px;
    --text-light: 14px;

    /*Font Weight*/
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}



.logo {
    width: 50px;
}

.btn {
    border-radius: 20px;
    background-color: var(--primary);
    border: none;
}

.btn:hover {
    background-color: var(--primary-dark);
}

.navItem {
    padding: 0px 10px 0px 10px;
}

/* Hero Section */
section.hero {
    margin: 5rem 0;
}

.text-label,
.text-hero-bold {
    margin: 24px 0;
}

.text-label {
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 74px;
}

.text-hero-bold {
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.hero-img {
    width: 100%;
}

/* About Us Section */
section.about-us {
    margin-top: 100px;
    align-items: center;
}

.features {
    margin: 2rem ;
    background-color: #F9FAFC;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.card:hover {
    background-color: var(--primary-light);
}

.card {
    margin: 2rem ;
    background-color: #F9FAFC;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 10px;
    
    
}



.about-icons {
    width: 100px;
}

.about-des {
    text-align: center;
    font-size: var(--text-regular);
    margin-top: 100px;
}

/* Product */
section.product {
    margin-top: 100px;
    /* max-width: 80%; */
}

/* Testimonials */
section.testimonials {
    background-color: white;
    padding: 80px 0;
    
}

.testi-img .img-box {
    max-width: 360px;
    margin: auto;
    text-align: center;
    position: relative;

}

.testi-img .circle {
    height: 360px;
    width: 360px;
    background-color: var(--primary-light);
    position: absolute;
    border-radius: 50%;
    left: 0;
    bottom: 0;
}

.testi-img .img-box-inner {
    position: relative;
    border-radius: 0 0 180px 180px;
    overflow: hidden;
}

.testi-item h3,
.testi-item p{
    font-size: 18px;
}



.testi-img .img-box-inner img {
    max-width: 310px;
}

.testimonials .carousel-inner {
    margin-top: 20px;
}

.testimonials .carousel-control-next {
    margin-left: 10px;
}

.testimonials .carousel-control-prev,
.testimonials .carousel-control-next {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #FE5045;
    display: inline-flex;
    border-radius: 50%;
}

.testimonials .carousel-control-prev img,
.testimonials .carousel-control-next img {
    width: 15px;
}

/* Contact */
section.contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conbox {
    width: 60%;
    padding: 45px;
    border-radius: 0;
}

.conrow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.col-md-7 {
    padding: 20px;
}

.col-md-5 {
    background-color: var(--primary-light);
    color: white;
    padding: 20px;
}

.form-control {
    height: 52px;
    background-color: white;
    color: black;
    font-size: var(--text-regular);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Desktop */
@media (min-width: 1399.98px) {
    .container {
        width: 84%;
    }
}

/* Mobile */
@media (max-width: 576px) {
    

    /* Hero Section */
section.hero {
    margin: 2rem 0;
    text-align: center;
}

.btn {
    display: block;
    margin: 1rem 0;
}

.ms-3 {
    margin-left: 0 !important;
}

.text-label,
.text-hero-bold {
    text-align: center;
}

.text-hero-bold {
    font-size: var(--header-3);
    font-weight: var(--font-weight-bold);
    line-height: 64px;
}

.features {
    margin: 2rem ;
    background-color: #F9FAFC;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    
}

.testi-img {
    margin-bottom: 25px;
}

}

.conbox {
    width: 100%;
}


/* Tablet */
@media (max-width: 768px) {

        /* Hero Section */
section.hero {
    margin: 2rem 0;
    text-align: center;
}

.testi-img .img-box{
    max-width: 300px;
}

.testi-img .circle {
    height: 300px;
    width: 300px;
}

.testi-img .img-box-inner {
    border-radius: 0 0 150px 150px;
}

.testi-img .img-box-inner img {
    max-width: 230px;
}

.conbox {
    width: 100%;
}


}